<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pregunta del Día</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Karla&family=Outfit:wght@100..900&family=Oxanium:wght@200..800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body class="bg-black flex items-center justify-center h-screen"style="font-family: 'Oxanium', sans-serif">
  <form class="bg-customGreen p-6 rounded-lg shadow-lg text-center" action="/submit-new-question" method="POST">
    <h1 class="text-2xl font-bold mb-4" style="font-family: 'Press Start 2P', sans-serif">SUBMIT NEW PROGRAMMING QUESTION</h1>

    <div class="flex flex-col space-y-4">
        
        <!-- Mostrar la pregunta -->
        <label for="question" class="text-left">Write your question here:</label>       
        <textarea name="question" id="question" class="bg-gray-200 text-gray-800 p-2 rounded" required maxlength="4000"></textarea>

        <!-- Mostrar las opciones de respuesta -->
        <p class="text-left">Write your answers (please, mark the correct ones):</p>
        
        <div class="flex gap-4 justify-between">
        <label for="answer1" hidden></label>
        <input type="checkbox" name="answer1CheckBox" value="true">
        <input type="text" name="answer1Text" class="bg-gray-200 text-gray-800 p-2 rounded w-full" required maxlength="1000">
        </div>

        <div class="flex gap-4 justify-between">
        <label for="answer2" hidden></label>
        <input type="checkbox" name="answer2CheckBox" value="true">
        <input type="text" name="answer2Text" class="bg-gray-200 text-gray-800 p-2 rounded w-full" required maxlength="1000">
        </div>

        <div class="flex gap-4 justify-between">
        <label for="answer3" hidden></label>
        <input type="checkbox" name="answer3CheckBox" value="true">
        <input type="text" name="answer3Text" class="bg-gray-200 text-gray-800 p-2 rounded w-full" required maxlength="1000">
        </div>

        <div class="flex gap-4 justify-between">
        <label for="answer4" hidden></label>
        <input type="checkbox" name="answer4CheckBox" value="true">
        <input type="text" name="answer4Text" class="bg-gray-200 text-gray-800 p-2 rounded w-full" required maxlength="1000">
        </div>

    </div>
        <input type="submit" value="SEND" class="bg-black text-white p-2 px-8 mt-4 rounded" style="font-family: 'Press Start 2P', sans-serif">
  </form>
</body>
<script>
    tailwind.config = {
    theme: {
      extend: {
        colors: {
          customGreen: '#41fd5b',
          darkGreen: '#35cb49'
        },
      },
    },
  };
</script>
</html>
