<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Submit New Question</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Karla&family=Outfit:wght@100..900&family=Oxanium:wght@200..800&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/modal.css">
</head>

<body class="bg-black flex items-center justify-center h-screen" style="font-family: 'Oxanium', sans-serif">
  <form id="newQuestionForm" class="bg-customGreen p-6 rounded-lg shadow-lg text-center" action="/submit-new-question"
    method="POST">
    <h1 class="text-2xl font-bold mb-4" style="font-family: 'Press Start 2P', sans-serif">SUBMIT NEW PROGRAMMING
      QUESTION</h1>

    <div class="flex flex-col space-y-4">

      <!-- Mostrar la pregunta -->
      <label for="question" class="text-left">Write your question here:</label>
      <textarea name="question" id="question" class="bg-gray-200 text-gray-800 p-2 rounded" required
        maxlength="4000"></textarea>

      <!-- Mostrar las opciones de respuesta -->
      <p class="text-left">Write your answers here (please, mark the correct one/s):</p>

      <div class="flex gap-4 justify-between">
        <label for="answer1" hidden></label>
        <input type="checkbox" id="answer1CheckBox" name="answer1CheckBox" value="true">
        <input type="text" id="answer1Text" name="answer1Text" class="bg-gray-200 text-gray-800 p-2 rounded w-full"
          required maxlength="1000">
      </div>

      <div class="flex gap-4 justify-between">
        <label for="answer2" hidden></label>
        <input type="checkbox" id="answer2CheckBox" name="answer2CheckBox" value="true">
        <input type="text" id="answer2Text" name="answer2Text" class="bg-gray-200 text-gray-800 p-2 rounded w-full"
          required maxlength="1000">
      </div>

      <div class="flex gap-4 justify-between">
        <label for="answer3" hidden></label>
        <input type="checkbox" id="answer3CheckBox" name="answer3CheckBox" value="true">
        <input type="text" id="answer3Text" name="answer3Text" class="bg-gray-200 text-gray-800 p-2 rounded w-full"
          required maxlength="1000">
      </div>

      <div class="flex gap-4 justify-between">
        <label for="answer4" hidden></label>
        <input type="checkbox" id="answer4CheckBox" name="answer4CheckBox" value="true">
        <input type="text" id="answer4Text" name="answer4Text" class="bg-gray-200 text-gray-800 p-2 rounded w-full"
          required maxlength="1000">
      </div>

    </div>
    <input type="submit" value="SEND" class="bg-black text-white p-2 px-8 mt-4 rounded"
      style="font-family: 'Press Start 2P', sans-serif">
  </form>

  <!--Cuadro de diálogo -->
  <% if (message) { %>
    <div id="modal" class="modal">
      <div class="modal-content">
        <p>
          <%= message %>
        </p>
        <button class="p-2" id="closeModal">Close</button>
      </div>
    </div>
    <% } %>
      <script>
        tailwind.config = {
          theme: {
            extend: {
              colors: {
                customGreen: '#41fd5b',
                darkGreen: '#35cb49'
              },
            },
          },
        };


        const form = document.getElementById("newQuestionForm");
        const modal = document.getElementById("modal");
        const closeModal = document.getElementById("closeModal");

        // Cerrar el modal
        closeModal.addEventListener("click", function () {
          modal.style.display = "none";
          form.reset(); // Limpiar el formulario para agregar otra pregunta
        });

        // Cerrar el modal haciendo clic fuera del cuadro de diálogo
        window.addEventListener("click", function (event) {
          if (event.target == modal) {
            modal.style.display = "none";
            form.reset();
          }
        });

        // form.addEventListener('submit', (event) => {

        //   // NO envíes los datos todavía
        //   event.preventDefault();

        //   // Capturar datos del formulario
        //   const question = document.getElementById("question").value;
        //   const answerOptions = [
        //     {
        //       answer: document.getElementById("answer1Text").value,
        //       isCorrect: document.getElementById("answer1CheckBox").checked,
        //     },
        //     {
        //       answer: document.getElementById("answer2Text").value,
        //       isCorrect: document.getElementById("answer2CheckBox").checked,
        //     },
        //     {
        //       answer: document.getElementById("answer3Text").value,
        //       isCorrect: document.getElementById("answer3CheckBox").checked,
        //     },
        //     {
        //       answer: document.getElementById("answer4Text").value,
        //       isCorrect: document.getElementById("answer4CheckBox").checked,
        //     }
        //   ];

        //   // Validación en el cliente
        //   if (answerOptions.every(option => !option.isCorrect)) {
        //     alert('At least one answer must be marked as the correct one.');
        //     return;
        //   }

        // })


      </script>
</body>


</html>